<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            Mask
        </title>
        <link rel="shortcut icon" type="image/jpg" href="favicon.ico"/>
    </head>
    <body>
        <h3>
            Mask
        </h3>
        <p>
            Give me text with a missed word using [MASK], do not forget a punctuation at the end of the sentence. For example, "My [MASK] is so cute.<br>
            <form action="/hello" method="post">
                Give a sentence: <input type="text" name="sentence">  <br />
                <input type="submit" name= "form" value="Submit" />
            </form>
        </p>
    </body>
</html>
